.navbar{
    background-color: rgb(138, 138, 138) ;
    --bs-btn-border-radius: none;
    display: flex;
    justify-content: space-between;

}
.navbar-nav{
    display: flex;
    padding: 1vw;
}
.nav-item{
    padding: 1vw;
}
.btn{
    background-color: orange;
    border: none;
}
.container-fluid{
    justify-content: center;
    padding: 1vw;
}
.grid{
    display: grid;
    grid-auto-columns: 3;
}
            

